.BG {
    position: relative;
    overflow: hidden;
    background-color: #141414;
    color: white;
    padding-bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
}

.linkListContainer {
    overflow: hidden;
    width: 100%; /* Adjust width as needed */
    display: flex;
    justify-content: center;
}

.linkList {
    display: flex;
    transition: transform 0.5s ease-in-out;
    white-space: nowrap;
}

.linkGenre {
    display: flex; /* Flex container */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */ /* Ensure all links have a consistent width */
    height: 20px; /* Ensure all links have a consistent height */
    padding: 14px 50px;
    margin: 0 10px; /* Adjust margin as needed */
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 5%;
    transition: background-color 0.3s, color 0.3s;
}

.linkGenre:hover {
    background-color: #FCE9E9;
}

.slideButtonLeft,
.slideButtonRight {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for button height */
}

.slideButtonLeft {
    left: 0;
}

.slideButtonRight {
    right: 0;
}
